<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nearby Shops</title>
    </head>
    <body>
        <button id = "find-me" type="button">Show my location</button><br/>
        <!--p id = "status"></p>
        <a id = "map-link" target="_blank"></a-->
        
        <h1>Proximal Shops</h1>
        {% if shops %}
        <ul>
            {% for shop in shops %}
            <li>{{ shop.name }} : {{ shop.distance }}</li>
            {%endfor%}
        </ul>
        {% endif %}
        <!--script type="text/javascript">
            function geoFindMe() {

            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');

            mapLink.href = '';
            mapLink.textContent = '';

            function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            status.textContent = '';
            mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
            mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
            }

            function error() {
            status.textContent = 'Unable to retrieve your location';
            }

            if (!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
            } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
            }

            }

            document.querySelector('#find-me').addEventListener('click', geoFindMe);
            
        </script-->
        
        
    </body>
</html> 