<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nearby Shops</title>
    </head>
    <body>
            <button id = "find-me" type="button">Show my location</button><br/>
            <p id = "status"></p>
            <a id = "map-link" target="_blank"></a>
        <h1>Proximal Shops</h1>
        {% if shops %}
        <ul>
            {% for shop in shops %}
            <li>{{ shop.name }} : {{ shop.distance }}</li>
            {%endfor%}
        </ul>
        {% endif %}
        <script type="text/javascript">
            function geoFindMe() {

            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');

            mapLink.href = '';
            mapLink.textContent = '';

            function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            status.textContent = '';
            mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
            mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
            document.getElementById("latitude").innerHTML =latitude;
            document.getElementById("longitude").innerHTML =longitude;
            }

            function error() {
            status.textContent = 'Unable to retrieve your location';
            }

            if (!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
            } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
            }

            }

            document.querySelector('#find-me').addEventListener('click', geoFindMe);
            
        </script>
        <!--script type="text/javascript">
            // using jQuery get csrftoken from your HTML
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
            
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        // if not safe, set csrftoken
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
            
                $.ajax({
                    url: "{% url 'locate' %}",
                    data: {
                        // here getdata should be a string so that
                        // in your views.py you can fetch the value using get('getdata')
                        "_token": csrftoken,
                        latitude: $("latitude").text(),
                        longitude: $("longitude").text(),
                    },
                    dataType: 'text',
                    success: function (res, status) {
                        alert(res);
                        alert(status);
                    },
                    error: function (res) {
                        alert(res.status);                                                                                                                          
                    }
                });
            </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
            function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
        $(document).ready(function(){
          $("button").click(function(){
            $.post("{% url 'locate' %}",
            {
                "_token": cookieValue,
              latitude: $("latitude").text(),
              longitude: $("longitude").text(),

            },function(data){alert("success");}
            );
          });
        });
        </script>
        form action="Home" method="POST">
            <input type="text" name="latitude" placeholder="lat">
            <input type="text" name="longitude" placeholder="lon">
            <input type="submit">
        </form-->
        <p id="latitude">"nan"</p>
        <p id="longitude">"nan"</p>
        <button>Send an HTTP POST request to the view</button>
    </body>
</html> 